/**************************************************************
         #052637           Entire Page    light blue -#1f5d8646 ;  Top(#D7E1EC button- 94b4d1
***************************************************************/
    body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #FAFAFA; 
    }
    .title {
        font-size: 40px;
        color: white;
    }
    /* Header */
        .header {
            width: 100%;
            height: 60px;
            background-color: #052637;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
        }

        .header h1 {
            margin: 0;
            padding: 0;
        }

    /* Menu */
        /* Hamburger Menu */
            .hamburger-menu {
                position: absolute;
                left: 10px;
                display: flex;
                flex-direction: column;
                cursor: pointer;
                z-index: 1;
            }

            .hamburger-menu div {
                width: 25px;
                height: 3px;
                background-color: white;
                margin: 5px 0;
            }
        /* Navigation */
            .nav {
                display: none;
                position: absolute;
                top: 60px;
                left: 0;
                background-color: white;
                width: 200px;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                z-index: 1;
            }
            .nav ul {
                list-style: none;        
                padding: 0;
                margin: 0;
            }
            .nav ul li {
                padding: 10px 20px;
                border-bottom: 1px solid #ddd;
            }
            .nav ul li:hover {
                background-color: #ddd;
                cursor: pointer;
            }
/**************************************************************
                    Page Elements
***************************************************************/
    a {
        text-decoration: none;
        color:black;
    }
        a:visited{
            color: black;
        }
    a i {
        color: black;
    }

    .icon {
        width: 24px;
        height: 24px;
        background-color: #888;
        border-radius: 50%;
        margin-bottom: 10px;
    }

    .main {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        padding-top: 10px;
    }

/**************************************************************
                    Commonalities
***************************************************************/  
/* Parameters Group */ 
    .ParametersGroup {
        width: 1800.80px;
        height: 71px;
        padding-top: 90px;
    }

    .ParametersRectangle {
        width: 1304.80px;
        height: 71px;
        padding-top: 17px;
        padding-bottom: 23px;
        padding-left: 5px;
        padding-right: 20px;
        background-color: #367190;
        border-radius: 7px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .ParametersRectangle p {
        font-size: 29px;
        line-height: 100%;
        text-align: center;
        color: white;
        flex: 1;
    
    }
/**************************************************************
                Goal Page
***************************************************************/
    /* Goal row */
        .goal-data-row {
            display: inline-flex;
            align-items: center;
            justify-content: space-between;
           
            width: 1304.80px;
            gap: 14px;
            padding-top: 40px;
            padding-bottom: 15px;
            border-bottom: 3px solid #ccc;
        }
    
        .goal-data-row p {
            text-align: center;
            font-size: 1.25rem;
        }
    /* Importing & Sorting */
        .rectangle {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 200px;
            height: 100px;
            background-color: #ccc;
            border-radius: 5px;
            margin-right: 20px;
        }
    
            .rectangle h2 {
                margin: 0;
                padding: 0;
            }
    
            .rectangle .icon {
                font-size: 48px;
                margin-bottom: 10px;
            }
            .rectangle .fa {
                font-size: 36px;
                color: #3a3939;
            }
    /* Parameters */
        .goal {
            flex-basis: 30%;
        }

        .last-assessment {
            flex-basis: 15%;
        }

        .status {
            flex-basis: 20%;
        }

        .goal-actions {
            flex-basis: 15%;
        }

        /* Filter */
        .Filter {
            width: 100.17px;
            font-size: 29px;
            line-height: 100%;
            text-align: center;
            color: black;
        }
        .FilterGroup {
            width: 1304.80px;
            height: 68px;
            flex-direction: row;
            padding-top: 20px;
            padding-bottom: 160px;
        }
    
        .Filter-DividingLine {
            width: 1304.80px;
            height: 5px;
            background-color: #a5a1a1;
            border-radius: 8px;
        }
    
        .Spacing {
            height: 11.50px;
        } 

        .filter-form{
            width: 1304.80px;
            display:flex;
            justify-content: center;
        }
        .filter-form select {
            width: 100%;
            max-width: 100%;
        }
        .filter-form-column {
            width: 30%;
            padding-left: 30px;
            padding-right: 30px;
        }


    /* PHP Code */
        table {
            width: 1304.80px;
        }
        td {
            align-items: center;
            justify-content: space-between;
            width: 800.80px;
            gap: 14px;
            padding-top: 10px;
            border-bottom: 3px solid #8f8d8d81;
            text-align: center;
            font-size: 1.25rem;
        }
/**************************************************************
            Create Goal Successful + Edit Goal Successful
***************************************************************/
    /* Input Box */
        .input-field {
            box-sizing: border-box;
            width: 100%;
            padding: 8px 12px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }

        .input-field:focus {
            border-color: 232324;
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 0 4px rgba(83, 84, 85, 0.5);
            outline: none;
        }
       
        .input-group p {
            margin: 0;
            margin-right: 8px;
        }
    /* Drop-down Box */
        select {
            width: 300px;
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 4px;
            background-color: #fff;
            cursor: pointer;
            /* Can just delete these four things */
            display: inline-block;
            background: #D9D9D9;
            padding: 10px 20px;
            border-radius: 9px;
        }

        select:focus {
            outline: none;
            border-color: #232324;
            box-shadow: 0 0 4px rgba(83, 84, 85, 0.5);
        }
    
        .form-action p {
            color: black;
            font-size: 20px; 
            padding-bottom: 10px;
            
        }

    /* Submission button */
        .submit-button {
            background-color: #0a638d;
            border: none;
            border-radius: 4px;
            color: white;
            cursor: pointer;
            font-size: 17px;
            padding: 8px 16px;
            text-align: center;
            text-decoration: none;
            transition: background-color 0.15s ease-in-out;
        }
        
        .submit-button:hover {
            background-color: #07435f;
        }
          
        .submit-button:focus {
            outline: none;
            box-shadow: 0 0 4px rgba(17, 17, 17, 0.5);
        }
/**************************************************************
                Assessment Page 
***************************************************************/
    .assessment-date {
        flex-basis: 39%;
    }
    .not-started {
        flex-basis: 5%;  
    }
    .assessment-status {
        flex-basis: 25%;
    }
    .assessment-actions {
        flex-basis: 25%;
    }
    /* User Data */
    .assessment-data-row {
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        width: 1304.80px;
        gap: 14px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-bottom: 3px solid #8f8d8d81;
    }

    .assessment-data-row p {
        text-align: center;
        font-size: 1.25rem;
    }

    .action-item {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        gap: 0.625rem;
        padding-top: 50px;
        
    }

    .action-item .fa {
        font-size: 28px;
    }
    a {
        text-decoration: none;
    }
        a:visited{
            color: #303030;
        }
/**************************************************************
                Recommended Action Page 
***************************************************************/
    /** Return button */
        .return-to-info {
            display: inline-block;
            background: #D9D9D9;
            padding: 10px 20px;
            border-radius: 9px;
            margin-top: 620px;
        }
        .return-to-info a{
            font-size: 21px;
            line-height: 100%;
            text-align: center;
            color: black;
        }
        /** Action box **/
            .Rectangle44-action-recommend {
                position: absolute;
                width: auto;
                min-width: 250px; 
                height: auto;
                padding: 10px 20px; 
                left: 50%;
                top: 450px; 
                transform: translate(-50%, -50%);
                background: #D9D9D9;
                border-radius: 9px;
            }
            .Rectangle44-action-recommend p {
                font-size: 2vw;
                line-height: 100%;
                text-align: center;
                color: black;
            }
            .risks-addressed-text {
                font-size: 1rem; 
                line-height: 1.2;
                text-align: center;
                color: black;
            }

/**************************************************************
                Info Page 
***************************************************************/
    /* Navigation Actions*/
        .navigation-actions a{
            font-size: 21px;
            line-height: 100%;
            text-align: center;
            color: black;
        }
        .next {
            display: inline-block;
            background: #D9D9D9;
            padding: 10px 20px;
            border-radius: 9px;
            margin-bottom: 10px;
            margin-right: 100px;
            margin-left: 70px; 
            text-align: center;
            margin-top: 10px;
        }
        .next i {
            padding-left: 10px;
            color: #202020;
        }
        
        .recommended {
            display: inline-block;
            background: #D9D9D9;
            padding: 10px 20px;
            border-radius: 9px;
            margin-bottom: 10px;
            margin-right: 100px; 
            margin-left: 70px;
            text-align: center;
            margin-top: 10px;
        }
        .recommended i {
            padding-right: 10px;
            color: #202020;
        }
        
        .previous {
            display: inline-block;
            background: #D9D9D9;
            padding: 10px 20px;
            border-radius: 9px;
            margin-bottom: 10px;
            margin-right: 100px; 
            margin-left: 70px;
            text-align: center;
            margin-top: 10px;
        }
        .previous i {
            padding-right: 10px;
            color: #202020;
        }
    /* Rectangle Hell */
        .Rectangle39 {
            width: 1150px;
            height: 71px;
            padding-top: 17px;
            padding-bottom: 23px;
            padding-left: 117px;
            padding-right: 46px;
            background-color: rgba(217, 217, 217, 1);
            border-radius: 7px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
            .Rectangle39 p {
                font-size: 29px;
                line-height: 100%;
                text-align: center;
                color: black;
            }

        .Rectangle40 {
            position: absolute;
            width: 173px;
            height: 50px;
            left: 828px;
            top: 75px;

        }
            .Rectangle40 p {
                font-size: 35px;
                line-height: 100%;
                text-align: center;
                color: black;
                
            }
        .Rectangle41 {
            position: absolute;
            width: 201px;
            height: 51px;
            left: 489px;
            top: 200px;

            background: #D9D9D9;
            border-radius: 6px;
        }
            .Rectangle41 p {
                font-size: 25px;
                line-height: 100%;
                text-align: center;
                color: black;
                
            }
        .Rectangle42 {
            position: absolute;
            width: 201px;
            height: 51px;
            left: 810px;
            top: 200px;
            background: #D9D9D9;
            border-radius: 6px;
        }
            .Rectangle42 p {
                font-size: 25px;
                line-height: 100%;
                text-align: center;
                color: black;
                
            }
        .Rectangle43 {
            position: absolute;
            width: 201px;
            height: 51px;
            left: 1139px;
            top: 200px;

            background: #D9D9D9;
            border-radius: 6px;
        }
        .Rectangle43 p {
                font-size: 20px;
                line-height: 100%;
                text-align: center;
                color: black;
                
            }

        .Rectangle45-detail-box {
            position: absolute;
            width: 50%;
            height: 12%;
            left: 50%;
            top: 20%; 
            transform: translate(-50%, -50%);

            background: #D9D9D9;
            border-radius: 9px;
            display: flex;
            justify-content: center;
            align-items: center;

        }

        .Rectangle45-detail-box {
            font-size: 3vw;
            line-height: 100%;
            text-align: center;
            color: black;
            vertical-align: center;
        }

        .Rectangle46-category-box {
            position: absolute;
            width: auto; 
            min-width: 150px; 
            height: auto; 
            padding: 10px 20px; 
            left: 34%;
            top: 240px;
            transform: translate(-50%, -50%);
            background: #D9D9D9;
            border-radius: 9px;
        }
        
            .category-text {
                font-size: 1rem; 
                line-height: 1.2;
                text-align: center;
                color: black;
            }

            .Rectangle46-category-box p {
                font-size: 2vw;
                line-height: 100%;
                text-align: center;
                color: black;
            }
        .Rectangle46-status {
            position: absolute;
            width: auto; 
            min-width: 150px; 
            height: auto; 
            padding: 10px 20px; 
            left: 71%;
            top: 240px;
            transform: translate(-50%, -50%);
            background: #D9D9D9;
            border-radius: 9px;
        }
            .status-text {
                font-size: 1rem; 
                line-height: 1.2;
                text-align: center;
                color: black;
            }
            .Rectangle46-status p {
                font-size: 2vw;
                line-height: 100%;
                text-align: center;
                color: black;
            }

        .Rectangle48-cost {
            position: absolute;
            width: auto; 
            min-width: 150px; 
            height: auto; 
            padding: 10px 20px; 
            left: 25%;
            top: 450px;
            transform: translate(-50%, -50%);
            background: #D9D9D9;
            border-radius: 9px;
        }
        
            .cost-text {
                font-size: 1rem; 
                line-height: 1.2;
                text-align: center;
                color: black;
            }
            .Rectangle48-cost p {
                font-size: 2vw;
                line-height: 100%;
                text-align: center;
                color: black;
            }

        .Rectangle49-complexity {
            position: absolute;
            width: auto; 
            min-width: 150px; 
            height: auto; 
            padding: 10px 20px; 
            left: 50%;
            top: 450px;
            transform: translate(-50%, -50%);
            background: #D9D9D9;
            border-radius: 9px;
        }
            .complexity-text {
                font-size: 1rem; 
                line-height: 1.2;
                text-align: center;
                color: black;
            }
                .Rectangle49-complexity p {
                    font-size: 2vw;
                    line-height: 100%;
                    text-align: center;
                    color: black;
                }

        .Rectangle50-impact {
            position: absolute;
            width: auto; 
            min-width: 150px; 
            height: auto; 
            padding: 10px 20px; 
            left: 75%;
            top: 450px;
            transform: translate(-50%, -50%);
            background: #D9D9D9;
            border-radius: 9px;
        }
            .impact-text {
                font-size: 1rem; 
                line-height: 1.2;
                text-align: center;
                color: black;
            }
            .Rectangle50-impact p {
                font-size: 2vw;
                line-height: 100%;
                text-align: center;
                color: black;
            }

        .Rectangle51-risks-addressed {
            position: absolute;
            width: auto; 
            min-width: 250px; 
            height: auto; 
            padding: 10px 20px; 
            left: 50%;
            top: 840px;
            transform: translate(-50%, -50%);
            background: #D9D9D9;
            border-radius: 9px;
        }
            .risks-addressed-text {
                font-size: 1rem; 
                line-height: 1.2;
                text-align: center;
                color: black;
            }
            .Rectangle51-risks-addressed p {
                font-size: 2vw;
                line-height: 150%;
                text-align: center;
                color: black;
            }
            .risk-container {
                display: flex;
                justify-content: center;
                align-items: center;
                min-height: 100vh;
            }
